{% for post in posts %}
    <div class="col">
        <div class="card shadow-sm">
            <a href="{% url 'post_detail' post.slug %}">
                <img src="{{ post.photo.url }}" class="card-img-top" alt="">
            </a><center>
            <small>{{post.price|floatformat:1}}$</small>
            <h3 class="mt-5">{{ post.title|title }}</h3>
            <p class="card-text">{{ post.summary|truncatewords:3|upper  }}</p>
            <p class="lead">Content : {{ post.text|wordcount}}</p>        
            <p class="lead">{{ post.author }}</p>
            <p class="lead">{{ post.publish|timesince }}</p>
            </center>
        </div>
    </div>
{% endfor %}