{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<section id="demos">
    <div class="container-fluid px-md-5">
        <div class="row mb-4 position-relative">
            <div class="col-xl-6 mx-auto text-center">
                <h2>List View</h2>
            </div>
        </div>
        <div class="row g-4 g-xl-7 demo-grid">
            {% include 'b.html' %}
        </div>
        <div class="mt-5" style="text-align: center; margin: auto;">
        </div>
    </div>
</section> 
    {% include 'post.html' %}
{% endblock %}